/*

    fone.css
    https://github.com/OkFone5s/OkFone5s.github.io

*/

* {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.fone-dark {
  background-color: #2a2a2a;
}

.fone-darker {
  background-color: #545454;
}

.force-text-color {
  color: black !important;
}

#hero {
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

#hero[h1] {
  font-size: 28px;
}

#hero[p] {
  font-size: 20px;
  font-style: italic;
}

.pad {
  margin: -10;
  padding: -10;
}

/* Icl im lazy so im using ID fixes */

.pad[id="projects"] {
  margin: 10;
  padding: 10;
}

/* credit https://www.w3schools.com/howto/howto_css_fixed_footer.asp */

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* me */

.test {
  display: inline-block;
  text-align: right;
  justify-content: right;
  justify-items: right;
  align-content: right;
  align-items: right;
}

a {
  text-decoration: none;
  color: white;
}

#projects {
  display: flex;
}

.a {
  margin-top: 20px;
  margin-left: 20px;
}
